@media screen and (max-width: 768px) {
	.navbar-menu {
		min-height: 100vh;
	}
	.navbar-start {
		margin-bottom: 8rem;
	}
	.navbar-item.has-dropdown:focus .navbar-link::after, .navbar-item.has-dropdown:focus-within .navbar-link::after {
		transform: rotate(135deg) translate(0.25em, -0.25em);
	}
	.navbar-item.has-dropdown:focus .navbar-dropdown, .navbar-item.has-dropdown:focus-within .navbar-dropdown {
		display: none;
	}
}
#icons-mobile {
	position: fixed;
	bottom: 0;
	min-width: 100vw;
}
#icons-mobile .column {
	align-self: center;
}

.container {
    margin-top: 2rem;
}
.container a {
	text-decoration: underline;
}
.container a:hover, .container a:focus {
	text-decoration: none;
}
.container header {
	margin-bottom: 1.5rem;
}
