.sc {
	font-variant: small-caps;
}
.content ul.fa-ul {
	list-style-type: none;
}

@media screen and (max-width: 1023px) {
	.navbar-menu {
		min-height: 100vh;
	}
	.navbar-start {
		margin-bottom: 8rem;
	}
	.navbar-item.has-dropdown:not(.is-active) .navbar-link::after {
		transform: rotate(135deg) translate(0.25em, -0.25em);
	}
	.navbar-item.has-dropdown:not(.is-active) .navbar-dropdown {
		display: none;
	}
}
#icons-mobile {
	position: fixed;
	bottom: 0;
	min-width: 100vw;
}
#icons-mobile .column {
	align-self: center;
}

.container {
    margin-top: 2rem;
}
.container a {
	text-decoration: underline;
}
.container a:hover, .container a:focus {
	text-decoration: none;
}
.container h3.list-header {
	margin-bottom: 0;
}
