.navbar.is-link {
	background-color: #002e65;
	color: #ffffff;
}
@media screen and (max-width: 768px) {
	.navbar-menu {
		min-height: 100vh;
	}
	.navbar-start {
		margin-bottom: 8rem;
	}
}
#icons-mobile {
	position: fixed;
	bottom: 0;
	min-width: 100vw;
}
#icons-mobile .column {
	align-self: center;
}

.container {
    margin-top: 2rem;
}
.container a {
	text-decoration: underline;
}
.container a:hover, .container a:focus {
	text-decoration: none;
}
.container header {
	margin-bottom: 1.5rem;
}
